{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habits</title>
    <link rel="stylesheet" href="{% static 'styles/habits/habits.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">

  </head>
<body>
    <section>
        <div class="create_container">
          <form action="{% url 'add-habit' %}" method="POST">
            {% csrf_token %}
            <input class="create_input" 
            type="text" 
            placeholder="Напишите привычку, которой хотите владеть"
            name="habit_text" />
            <button class="create_button">Добавить</button> 
            </form>
          </div>
        
           <div class="todo_container">
            {% for habit in habit_list %}
            <div class="habit_item
            {% if habit_item.important %}
                marked
              {% elif habit.done_for_today %}
                done
              {% endif %} 
            ">
                <div class="habit_item_header">
                  <label class="checkbox_container">
                    <input type="checkbox"
                    {% if habit.done_for_today %}
                      checked
                    {% endif %}
                    />
                    <span class="checkmark"></span>
                  </label>
                  <h4><a href="{% url 'close-habit' habit.id %}">{{ habit.name }}</a></h4>
                </div>
                <div class="habit_item_footer">
                  <div>
                    <p>{{ habit.comment }}</p>
                  </div>
                  <div class="action_buttons">
                    {% if habit.important %}
                      <a href="{% url 'mark-bookmark' habit.id %}"><img src="{% static './icons/important.png' %}"/></a>
                      {% else %}
                      <a href="{% url 'mark-bookmark' habit.id %}"><img src="{% static './icons/fav_done.png' %}"/></a>
                      {% endif %}

                      {% if habit.important %}
                      <a href="{% url 'unmark-bookmark' habit.id %}"><img src="{% static './icons/fav_done.png' %}"/></a>
                      {% endif %}
                    
                  </div>
                </div>
            </div>
          
        </div>
            
        </div>
        {% endfor %}
    </section>

</body>
</html>