{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToMeet</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
</head>
<body>
    <section>

        <div class="create_container">
          <form action="{% url 'add-tomeet' %}" method="POST">
            {% csrf_token %}
            <input class="create_input" 
            type="text" 
            placeholder="Напишите, с кем будет встреча"
            name="tomeet_text" /><br>
            <input class="create_input" type="text" 
            placeholder="Добавьте комментарий" name="comment"/><br>
            <input class="create_input" type="number" placeholder="Номер телефона"
            name="phone_number"/>
            <button class="create_button" type="submit">Добавить</button>
            </form>
          </div>

        
        <div class="todo_container">
          {% for item in tomeet_list %}  
            <div class="todo_item
              {% if item.is_favorite %}
                marked
              {% endif %} -->
            ">
                <div class="todo_item_header">
                  <label class="checkbox_container">
                    <input type="checkbox"/>
                    <span class="checkmark"></span>
                  </label>
                  <h4>{{ item.person }}</h4>
                </div>
                <div class="todo_item_footer">
                  <div>
                    <p>{{ item.comment }}</p>
                  </div><br>
                  <div>
                    <p>Номер телефона - {{ item.phone_number }}</p>
                    <p>{{ item.date_of_meeting }}</p>
                  </div><br>
                  <div class="action_buttons">
                    {% if item.is_favorite %}
                      <a href="{% url 'mark-to-meet' item.id %}"><img src="{% static './icons/fav.png' %}"/></a>
                      {% else %}
                      <a href="{% url 'mark-to-meet' item.id %}"><img src="{% static './icons/unfav.png' %}"/></a>
                      {% endif %}

                      {% if item.is_favorite %}
                      <a href="{% url 'unmark-to-meet' item.id %}"><img src="{% static './icons/unfav.png' %}"/></a>
                      {% endif %}

                      <a href="{% url 'delete-to-meet' item.id %}"><img src="{% static './icons/delete.png' %}" /></a>
                  </div>
                </div>
            </div>
              
        </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>